*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(20, 176, 184, 0.852);
}

.container{
    /* background-color: red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.game{
    padding: 10px;
    border-radius: 10px;
    background-color: #84c620;
    height: 50vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.box{
    height: 15vmin;
    width: 15vmin;
    background-color: #ffffc7;
    border: 2px solid none;
    border-radius: 25px;
    font-size: 70px;
    color: black;
    text-align: center;
}

.reset{
    height: 5vmin;
    width: 20vmin;
    border-radius: 10px;
    background-color: #470cc5;
    color: whitesmoke;
    font-size: 20px;
}

.win{
    font-size: 50px;
    text-align: center;
    word-wrap: break-word;
}

.turn{
    font-size: 40px;
    text-align: center;
    word-wrap: break-word;
}